body#Artikelen {
       
    .container {
        display: grid;
        grid-template-columns: 15% 80%;
        gap: 1rem;

        width: 95%;
        margin: 0 auto;

        .sort {
            padding: 1rem;
            padding-top: 0;

            font-size: larger;

            input[type="checkbox"] {
                width: 1rem;
                height: 1rem;
            }

            .generalSort {
                display: grid;
                gap: 0.5rem;
                grid-template-columns: 1fr 1fr;

                margin-bottom: 1rem;
            }

            .sortSoort {
                padding: 1rem;

                border-color: $tertiaryColor;
                border-style: solid;
                border-radius: 0.5rem;

                label {
                    display: inline-block;
                }
            }

            input[type="submit"] {
                padding: 0.5rem;
                margin-top: 1rem;

                width: 100%;
                font-size: large;

                border: 1px solid $tertiaryColor;
                border-radius: 0.5rem;

                background-color: $secondaryColor;

                &:hover {
                    background-color: $tertiaryColor;
                    color: $secondaryColor;
                }
            }
        }

        
        .artikelen {
            #myInput {
                width: 100%;
                padding: 1rem;
                border: 1px solid $tertiaryColor;
                border-radius: 0.5rem;
                margin-bottom: 1rem;

                outline: none;

                display: block;
                margin-left: auto;
                margin-right: auto;
            }


            ul {
                li {
                    list-style-type: none;
                    padding-bottom: 1rem;

                    a {
                        text-decoration: none;
                        color: black;

                        .artikel {
                            display: grid;
                            grid-template-areas: "img titel prijs" "img beschrijving beschrijving";
                            gap: 1rem;

                            border: 1px solid $tertiaryColor;
                            padding: 1rem;

                            background-color: $thirdAccentColor;

                            img {
                                grid-area: img;
                                width: 100%;
                                max-width: 200px;

                                mix-blend-mode: darken;
                            }

                            .titel {
                                grid-area: titel;
                            }

                            .beschrijving {
                                grid-area: beschrijving;
                                padding-left: 1rem;
                                padding-right: 1rem;
                            }

                            .prijs {
                                grid-area: prijs;

                                p {
                                    display: inline;
                                    text-align: right;
                                    margin-right: 1rem;

                                    color: red;
                                    font-weight: bold;
                                    text-transform: lowercase;
                                    font-size: larger;
                                    text-align: center;
                                    text-decoration: none;
                                }

                                .ouldPrice {
                                    text-decoration: line-through;
                                    color: grey;
                                }
                            }
                        }
                    }
                }
            }
        }

        @media only screen and (max-width: 1250px) {
            display: block;
        }
    }
}
