main#contact {
    padding-top: 5%;
    margin-left: 10%;
    margin-right: 10%;

    h2 {
        font-size: 2rem;
    }

    hr{
        width: 8%;
        color: $firstAccentColor;
        margin: 0.5rem;
        margin-left: 0;
    }

    .gridContact {
        box-shadow: 0px 0px 10px grey;
        display: grid;
        grid-template-columns: 60% 1fr;

        justify-content: center;
        align-items: center;


        // border: 1px solid $tertiaryColor;
        // border-radius: 0.5rem;

        margin-top: 1rem;

        li {
            list-style-type: none;
        }

        form {
            display: grid;
            grid-template-columns: 0.1fr 1fr;

            border-right: 1px solid $tertiaryColor;

            gap: 0.5rem;

            justify-content: center;
            align-items: center;

            padding: 1rem;

            .message {
                grid-column: span 2;
                text-align: left;
            }

            .messageArea {
                grid-column: span 2;
                width: 100%;
                height: 10rem;

                border-radius: 0.5rem;
                border: 1px solid $tertiaryColor;
                padding: 0.5rem;
            }

            label::before {
                content: "*";
                color: $firstAccentColor;
            }

            input {
                height: 1.5rem;
                border: none;
                outline: none;
                color: black;;
                border-bottom: 1px solid $tertiaryColor;
                padding: 0.5rem;
            }

            textarea{
                border: none;
                color: black;;
                border-bottom: 1px solid $tertiaryColor;
                padding: 0.5rem;
            }

            input[type="submit"] {
                grid-column: span 2;
                width: 100%;
                height: 2rem;

                border-radius: 0.5rem;
                border: 1px solid $tertiaryColor;
                padding: 0.5rem;

                background-color: $primaryColor;
                color: $secondaryColor;

                cursor: pointer;
            }

            input:focus{
                border: none;
                border-bottom: 2px solid $tertiaryColor;
            }

            textarea:focus{
                outline: none;
                border: none;
                border: 2px solid $tertiaryColor;
            }

            .required {
                grid-column: span 2;

                color: red;
                font-size: 0.8rem;
            }

            .required.show {
                height: 1rem;
            }
        }

        .map {
            padding: 1rem;
            width: 100%;
            height: 100%;

            iframe {
                width: 100%;
                height: 100%;

                border: none;

                // border-radius: 0.5rem;
                // border: 1px solid $tertiaryColor;
            }
        }

        @media only screen and (max-width: 1250px) {
            grid-template-columns: 1fr;
        }
    }
}
