$accentColor: rgb(255, 0, 0);
$mainColor: rgb(194, 194, 194);

// color palette 2 
// $primaryColor: #090809;
// $secondaryColor: #F1F2EB;
// $tertiaryColor: #D8DAD3;
// $firstAccentColor: #4D7EA8;
// $secondAccentColor: #81726A;

// color palette 5
// $primaryColor: #131B23;
// $secondaryColor: #2274A5;
// $tertiaryColor: #B8DBD9;
// $firstAccentColor: #DBA159;
// $secondAccentColor: #9A8C98;

// color palette 4
// $primaryColor: #1D1D1F;
// $secondaryColor: #F5F5F7;
// $tertiaryColor: #6B7D7D;
// $firstAccentColor: #147CE5;
// $secondAccentColor: #4848fd;

// color palette 3
$primaryColor: rgb(1, 48, 63) ;
$secondaryColor: rgb(212, 240, 252);
$tertiaryColor: rgb(2, 87, 122);
$firstAccentColor: rgb(137, 214, 251);
$secondAccentColor: rgb(2, 169, 247);


