$accentColor: red;
$mainColor: #c2c2c2;

// color palette 2 
// $primaryColor: #090809;
// $secondaryColor: #F1F2EB;
// $tertiaryColor: #D8DAD3;
// $firstAccentColor: #4D7EA8;
// $secondAccentColor: #81726A;

// color palette 5
// $primaryColor: #131B23;
// $secondaryColor: #2274A5;
// $tertiaryColor: #B8DBD9;
// $firstAccentColor: #DBA159;
// $secondAccentColor: #9A8C98;

// color palette 4
// $primaryColor: #1D1D1F;
// $secondaryColor: #F5F5F7;
// $tertiaryColor: #6B7D7D;
// $firstAccentColor: #147CE5;
// $secondAccentColor: #4848fd;

// color palette 3
$primaryColor: #01303f ;
$secondaryColor: #d4f0fc;
$tertiaryColor: #02577a;
$firstAccentColor: #89d6fb;
$secondAccentColor: #02a9f7;


