$accentColor: red;
$mainColor: #c2c2c2;

// color palette 2 
$primaryColor: #090809;
$secondaryColor: #F1F2EB;
$tertiaryColor: #D8DAD3;
$firstAccentColor: #4D7EA8;
$secondAccentColor: #81726A;

@import 'nav', 'main', 'footer';