@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin-top: 2rem;
}

header nav {
  background-color: rgb(1, 48, 63);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 1.1rem;
}
header nav h2 {
  padding-left: 50px;
}
header nav h2 a {
  text-decoration: none;
  color: rgb(2, 169, 247);
  font-size: 2rem;
}
header nav h2 a span {
  color: rgb(212, 240, 252);
}
header nav #burger {
  display: none;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style-type: none;
  list-style: none;
  border-left: 1px solid rgb(2, 87, 122);
}
header nav ul li a {
  text-decoration: none;
  color: rgb(212, 240, 252);
}
header nav ul li a img {
  text-align: center;
  height: 20px;
}
header nav ul li input {
  background-color: rgb(1, 48, 63);
  border: 0;
  color: rgb(212, 240, 252);
  font-size: 1rem;
}
header nav ul li input:focus {
  outline: none;
  caret-color: rgb(2, 169, 247);
}
header nav ul li:last-child {
  margin-right: 30px;
}
header nav ul .underline-hover-effect {
  padding-bottom: 0.25rem;
  position: relative;
}
header nav ul .underline-hover-effect::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(2, 169, 247);
  transition: width 0.25s ease-out;
}
header nav ul .underline-hover-effect:hover::before {
  width: 100%;
}
header nav ul li {
  padding-left: 20px;
  padding-right: 20px;
}
header hr {
  margin-top: 0;
  color: rgb(2, 87, 122);
  height: 2px;
}
header table {
  width: 45vw;
  max-width: 650px;
  max-height: 50vh;
  overflow-y: scroll;
  position: absolute;
  left: 50%;
  top: 4rem;
  transform: translateX(-50%);
  z-index: 100;
  border-collapse: collapse;
  border-radius: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgb(1, 48, 63);
}
header table th,
header table td {
  padding: 0.5rem;
  text-align: left;
  color: rgb(212, 240, 252);
  width: 100%;
}
header table th a,
header table td a {
  text-decoration: none;
  color: rgb(212, 240, 252);
  transition: color 0.2s ease-in-out, -webkit-text-decoration 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, text-decoration 0.2s ease-in-out, -webkit-text-decoration 0.2s ease-in-out;
}
header table th a:hover,
header table td a:hover {
  color: rgb(2, 169, 247);
  text-decoration: underline;
}
header table tr {
  width: 100%;
}
header table tr td:nth-child(2) {
  padding-right: 1rem;
}
header table th {
  border-bottom: 1px solid rgb(2, 87, 122);
  color: rgb(2, 169, 247);
}
@media only screen and (max-width: 1250px) {
  header nav {
    flex-direction: row;
  }
  header nav #burger {
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    width: 3rem;
    z-index: 1000;
  }
  header nav ul {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: rgb(1, 48, 63);
  }
  header nav ul .search {
    display: none;
  }
  header nav ul li {
    border-left: none;
    border-bottom: 1px solid rgb(2, 87, 122);
    width: 100%;
    text-align: center;
    padding: 1rem 5rem;
  }
  header nav ul.active {
    display: flex;
  }
}

main {
  padding-top: 1rem;
}
main .hero {
  width: 80%;
  border: 2px solid rgb(2, 87, 122);
  margin: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(212, 240, 252);
  opacity: 1;
}
main .hero h2 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: #008aca;
}
main .hero h2 span {
  color: black;
}
main .hero p {
  text-align: center;
}
main .dealsText {
  margin-top: 2rem;
  margin-left: 10%;
  margin-right: 10%;
}
main .deals {
  overflow-x: scroll;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
}
main .deals a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
main .deals a article {
  border: 1px solid rgb(2, 87, 122);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgb(2, 87, 122);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  height: 100%;
  width: 15rem;
}
main .deals a article img {
  aspect-ratio: 1/1;
  width: 100%;
}
main .deals a article .gridNamePrice {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
main .deals a article .gridNamePrice h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: inherit;
}
main .deals a article .gridNamePrice p {
  color: red;
  font-weight: bold;
  text-transform: lowercase;
  font-size: larger;
  text-align: center;
  text-decoration: none;
}
main .deals a article .gridNamePrice .ouldPrice {
  text-decoration: line-through;
  color: grey;
}
main .deals a article .dealsPrice {
  grid-template-columns: 1fr 0.5fr 0.5fr;
}
main .deals a article .dealsPrice h3 {
  grid-column: span 3;
  text-decoration: none;
  color: inherit;
}
main .deals a article .dealsPrice p {
  text-align: left;
  text-decoration: none;
  color: inherit;
  color: red;
}
main .overOns {
  margin-bottom: 1rem;
}
main .overOns p {
  margin-left: 10%;
  margin-right: 10%;
}
main .mobileCategorie {
  display: none;
}
@media only screen and (max-width: 1250px) {
  main .deals {
    display: none;
  }
  main .dealsText {
    display: none;
  }
  main .dealsText:nth-child(3) {
    display: block;
  }
  main .mobileCategorie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 80%;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  main .mobileCategorie a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(2, 87, 122);
    border-radius: 0.5rem;
    background-color: rgb(212, 240, 252);
    background-blend-mode: darken;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
  }
  main .mobileCategorie a div {
    background-color: rgb(2, 87, 122);
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  main .mobileCategorie a:hover {
    background-color: rgb(2, 87, 122);
    color: white;
  }
  main .mobileCategorie a:nth-child(1) {
    background-image: url(../images/cpu.png);
  }
  main .mobileCategorie a:nth-child(2) {
    background-image: url(../images/gpu.png);
  }
  main .mobileCategorie a:nth-child(3) {
    background-image: url(../images/moederbord.png);
  }
  main .mobileCategorie a:nth-child(4) {
    background-image: url(../images/ram.png);
  }
  main .mobileCategorie a:nth-child(5) {
    background-image: url(../images/case.png);
  }
  main .mobileCategorie a:nth-child(6) {
    background-image: url(../images/storage.png);
  }
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 170px;
}

footer {
  background-color: rgb(1, 48, 63);
  margin-bottom: -1.5rem;
  padding: 2rem;
  color: rgb(212, 240, 252);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 170px;
  display: grid;
  grid-template-areas: "contact contact logo logo" "contact contact socialMedia socialMedia";
  justify-items: center;
  align-items: center;
  border-top: 2px solid rgb(2, 87, 122);
}
footer h2 {
  color: rgb(2, 169, 247);
  text-align: center;
  font-size: 2rem;
  grid-area: logo;
}
footer h2 span {
  color: rgb(212, 240, 252);
}
footer .contact {
  grid-area: contact;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid rgb(2, 169, 247);
}
footer .contact p {
  text-align: center;
}
footer .contact p a {
  color: rgb(2, 169, 247);
}
footer .socialMedia {
  grid-area: socialMedia;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 2rem;
  gap: 5rem;
}
footer .socialMedia a img {
  width: 2rem;
  height: 2rem;
  fill: rgb(2, 169, 247);
}

main#contact {
  padding-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}
main#contact h2 {
  font-size: 2rem;
}
main#contact .gridContact {
  background-color: rgb(212, 240, 252);
  display: grid;
  grid-template-columns: 60% 1fr;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(2, 87, 122);
  border-radius: 0.5rem;
  margin-top: 1rem;
}
main#contact .gridContact li {
  list-style-type: none;
}
main#contact .gridContact form {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
main#contact .gridContact form .message {
  grid-column: span 2;
  text-align: left;
}
main#contact .gridContact form .messageArea {
  grid-column: span 2;
  width: 100%;
  height: 10rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(2, 87, 122);
  padding: 0.5rem;
}
main#contact .gridContact form label::before {
  content: "*";
  color: rgb(137, 214, 251);
}
main#contact .gridContact form input {
  height: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(2, 87, 122);
  padding: 0.5rem;
}
main#contact .gridContact form input[type=submit] {
  grid-column: span 2;
  width: 100%;
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(2, 87, 122);
  padding: 0.5rem;
  background-color: rgb(1, 48, 63);
  color: rgb(212, 240, 252);
  cursor: pointer;
}
main#contact .gridContact form input:focus,
main#contact .gridContact form textarea:focus {
  outline: none;
  border: 2px solid rgb(2, 87, 122);
  caret-color: rgb(2, 169, 247);
}
main#contact .gridContact form .required {
  grid-column: span 2;
  color: red;
  font-size: 0.8rem;
}
main#contact .gridContact form .required.show {
  height: 1rem;
}
main#contact .gridContact .map {
  padding: 1rem;
  width: 100%;
  height: 100%;
}
main#contact .gridContact .map iframe {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  border: 1px solid rgb(2, 87, 122);
}
@media only screen and (max-width: 1250px) {
  main#contact .gridContact {
    grid-template-columns: 1fr;
  }
}

main#products {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1rem;
}
main#products button {
  cursor: pointer;
}
main#products article {
  display: grid;
  grid-template-areas: "productName productName productName productName" "productImage shop shop shop";
  gap: 2rem;
  border: 1px solid rgb(2, 87, 122);
  border-radius: 0.5rem;
  padding: 1rem;
}
main#products article h2 {
  grid-area: productName;
}
main#products article .images {
  grid-area: productImage;
}
main#products article .images img {
  width: 80%;
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
main#products article .images .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
main#products article .images .slideshow-container .mySlides {
    display: none;
}
main#products article .images .slideshow-container .prev,
main#products article .images .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: rgb(2, 87, 122);
}
main#products article .images .slideshow-container .next {
  right: 0;
  border-radius: 3px;
}
main#products article .images .slideshow-container .prev:hover,
main#products article .images .slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
main#products article .images .slideshow-container .numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
main#products article .images .slideshow-container .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
main#products article .images .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(2, 87, 122);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
main#products article .images .active,
main#products article .images .dot:hover {
  background-color: #717171;
}
main#products article .shop {
  grid-area: shop;
  display: grid;
  grid-template-rows: 25% 25% 25%;
  align-items: center;
}
main#products article .shop .productPrice p {
  color: red;
  font-weight: bold;
  text-transform: lowercase;
  font-size: larger;
  text-align: center;
  text-decoration: none;
  display: inline;
  margin-right: 1rem;
}
main#products article .shop .productPrice .ouldPrice {
  text-decoration: line-through;
  color: grey;
}
main#products article .shop .stock {
  text-align: center;
  padding: 1rem;
  color: #009824;
  font-weight: bold;
  border-top: 1px solid rgb(2, 87, 122);
  border-bottom: 1px solid rgb(2, 87, 122);
}
main#products article .shop .stock.out {
  color: red;
}
main#products article .shop .winkelMand {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(2, 87, 122);
  text-align: left;
  color: white;
  font-size: 1rem;
}
main#products article .shop .winkelMand img {
  width: 2rem;
  height: 2rem;
  text-align: right;
}
main#products .detailsDiscription {
  border: 1px solid rgb(2, 87, 122);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 1rem;
  height: -moz-max-content;
  height: max-content;
}
main#products .detailsDiscription .buttons {
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 1rem;
}
main#products .detailsDiscription .buttons #discription-button,
main#products .detailsDiscription .buttons #details-button {
  display: inline;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: rgb(212, 240, 252);
}
main#products .detailsDiscription .buttons #discription-button.active,
main#products .detailsDiscription .buttons #details-button.active {
  border-bottom: 1px solid rgb(2, 87, 122);
}
main#products .detailsDiscription p,
main#products .detailsDiscription div.details {
  display: none;
}
main#products .detailsDiscription .active,
main#products .detailsDiscription .details.active {
  display: block;
}
main#products .detailsDiscription .active p,
main#products .detailsDiscription .details.active p {
  display: block;
}
main#products .detailsDiscription .details.active {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
main#products .detailsDiscription .details.active p {
  display: inline;
}

main#signup {
  margin-left: 10%;
  margin-right: 10%;
}
main#signup h2 {
  margin-left: 5%;
  padding: 2px;
  font-size: 2rem;
  text-align: center;
  width: 90%;
  border-bottom: 1px solid rgb(2, 87, 122);
}
main#signup .gridSignup {
  background-color: rgb(212, 240, 252);
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(2, 87, 122);
  border-radius: 0.5rem;
  margin-top: 1rem;
}
main#signup .gridSignup form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
main#signup .gridSignup form .message {
  grid-column: span 2;
  text-align: left;
}
main#signup .gridSignup form .messageArea {
  grid-column: span 2;
  width: 100%;
  height: 10rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(2, 87, 122);
  padding: 0.5rem;
}
main#signup .gridSignup form label::before {
  content: "*";
  color: rgb(137, 214, 251);
}
main#signup .gridSignup form input {
  height: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(2, 87, 122);
  padding: 0.5rem;
}
main#signup .gridSignup form input[type=submit], main#signup .gridSignup form button[type=submit] {
  grid-column: span 2;
  width: 100%;
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(2, 87, 122);
  padding: 0.5rem;
  background-color: rgb(1, 48, 63);
  color: rgb(212, 240, 252);
  cursor: pointer;
}
main#signup .gridSignup form input:focus, main#signup .gridSignup form textarea:focus {
  outline-color: rgb(2, 87, 122);
}
main#signup .gridSignup form .required {
  grid-column: span 2;
  color: red;
  font-size: 0.8rem;
}
main#signup .gridSignup form .required.show {
  height: 1rem;
}

body#admin main {
  margin-left: 10%;
  margin-right: 10%;
}
body#admin main h2 {
  margin-left: 5%;
  padding: 2px;
  font-size: 2rem;
  text-align: center;
  width: 90%;
  border-bottom: 1px solid rgb(2, 87, 122);
}
body#admin main .gridArtikelsButtons {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
body#admin main .gridArtikelsButtons .buttons {
  display: grid;
  box-sizing: border-box;
  margin-top: 1rem;
  background-color: rgb(212, 240, 252);
  border: 1px solid rgb(2, 87, 122);
  border-radius: 0.5rem;
}
body#admin main .gridArtikelsButtons .buttons button {
  padding: 1rem;
  border: none;
  width: 100%;
  background-color: transparent;
}
body#admin main .gridArtikelsButtons .buttons button:hover {
  background-color: rgb(2, 87, 122);
}
body#admin main .gridArtikelsButtons .buttons button:first-of-type {
  border-radius: 0.5rem 0.5rem 0 0;
}
body#admin main .gridArtikelsButtons .buttons button:last-of-type {
  border-radius: 0 0 0.5rem 0.5rem;
}
body#admin main .form {
  background-color: rgb(212, 240, 252);
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(2, 87, 122);
  border-radius: 0.5rem;
  margin-top: 1rem;
}
body#admin main .form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
body#admin main .form form .message {
  grid-column: span 2;
  text-align: left;
}
body#admin main .form form .messageArea {
  grid-column: span 2;
  width: 100%;
  height: 10rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(2, 87, 122);
  padding: 0.5rem;
}
body#admin main .form form label::before {
  content: "*";
  color: rgb(137, 214, 251);
}
body#admin main .form form .noRequire::before {
  content: " ";
}
body#admin main .form form input {
  height: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(2, 87, 122);
  padding: 0.5rem;
}
body#admin main .form form input[type=file] {
  height: 2.5rem;
  grid-column: span 2;
}
body#admin main .form form button[type=submit] {
  grid-column: span 2;
  width: 100%;
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(2, 87, 122);
  padding: 0.5rem;
  background-color: rgb(1, 48, 63);
  color: rgb(212, 240, 252);
  cursor: pointer;
}
body#admin main .form form input:focus,
body#admin main .form form textarea:focus {
  outline-color: rgb(2, 87, 122);
}
body#admin main .form form .required {
  grid-column: span 2;
  color: red;
  font-size: 0.8rem;
}
body#admin main .form form .required.show {
  height: 1rem;
}
body#admin main .form form #spec {
  grid-column: span 2;
  padding-left: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 1250px) {
  body#admin main .gridArtikelsButtons {
    grid-template-columns: 1fr;
  }
  body#admin main .gridArtikelsButtons .buttons {
    grid-template-columns: 1fr 1fr;
  }
  body#admin main .form form {
    grid-template-columns: 1fr;
  }
}

main#profile .container {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 1rem;
  max-width: 80%;
  margin-top: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
main#profile .container h2,
main#profile .container h1 {
  margin-bottom: 1rem;
}
main#profile .container h1 {
  font-size: 2rem;
  grid-column: span 2;
}
main#profile .container aside#navigatie {
  background-color: rgb(212, 240, 252);
  border: 1px solid rgb(2, 87, 122);
  border-radius: 0.5rem;
  padding: 1rem;
}
main#profile .container aside#navigatie nav {
  text-align: center;
}
main#profile .container aside#navigatie nav li {
  list-style-type: none;
  padding-bottom: 10px;
}
main#profile .container aside#navigatie nav li button {
  all: unset;
  cursor: pointer;
  color: rgb(2, 87, 122);
  border-bottom: 1px solid rgb(2, 87, 122);
}
main#profile .container div#gegevens {
  background-color: rgb(212, 240, 252);
  border: 1px solid rgb(2, 87, 122);
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
}
main#profile .container div#gegevens label {
  display: block;
}
main#profile .container div#gegevens input {
  height: 2rem;
  width: 50%;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(2, 87, 122);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
main#profile .container div#gegevens button[type=submit] {
  width: 50%;
  height: 2rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(2, 87, 122);
  padding: 0.5rem;
  background-color: rgb(1, 48, 63);
  color: rgb(212, 240, 252);
  cursor: pointer;
}
main#profile .container div#gegevens .hidden {
  display: none;
}
@media only screen and (max-width: 1250px) {
  main#profile .container {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border: none;
  }
  main#profile .container aside#navigatie {
    background-color: rgb(212, 240, 252);
    border: 1px solid rgb(2, 87, 122);
    border-radius: 0.5rem;
    padding: 1rem;
  }
  main#profile .container aside#navigatie nav {
    text-align: center;
    padding-right: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main#profile .container div#gegevens {
    background-color: rgb(212, 240, 252);
    border: 1px solid rgb(2, 87, 122);
    border-radius: 0.5rem;
    padding: 1rem;
  }
  main#profile .container div#gegevens input {
    width: 100%;
  }
}

body#Artikelen .container {
  display: grid;
  grid-template-columns: 20% 80%;
}
body#Artikelen .container .sort {
  padding: 1rem;
  font-size: larger;
}
body#Artikelen .container .sort input[type=checkbox] {
  width: 1rem;
  height: 1rem;
}
body#Artikelen .container .sort .generalSort {
  display: grid;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
body#Artikelen .container .sort .generalSort div:nth-child(1) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.1rem;
}
body#Artikelen .container .sort .sortSoort {
  padding: 1rem;
  border-color: rgb(2, 87, 122);
  border-style: solid;
  border-radius: 0.5rem;
}
body#Artikelen .container .sort .sortSoort label {
  display: inline-block;
}
body#Artikelen .container .sort input[type=submit] {
  padding: 0.5rem;
  margin-top: 1rem;
  width: 100%;
  font-size: large;
  border: 1px solid rgb(2, 87, 122);
  border-radius: 0.5rem;
  background-color: rgb(212, 240, 252);
}
body#Artikelen .container .sort input[type=submit]:hover {
  background-color: rgb(2, 87, 122);
  color: rgb(212, 240, 252);
}
body#Artikelen .container .artikelen #myInput {
  width: 80%;
  padding: 1rem;
  border: 1px solid rgb(2, 87, 122);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body#Artikelen .container .artikelen ul li {
  list-style-type: none;
  padding: 1rem;
}
body#Artikelen .container .artikelen ul li a {
  text-decoration: none;
  color: black;
}
body#Artikelen .container .artikelen ul li a .artikel {
  display: grid;
  grid-template-areas: "img titel prijs" "img beschrijving beschrijving";
  gap: 1rem;
  border: 1px solid rgb(2, 87, 122);
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: rgb(212, 240, 252);
}
body#Artikelen .container .artikelen ul li a .artikel img {
  grid-area: img;
  width: 100%;
  max-width: 200px;
  mix-blend-mode: darken;
}
body#Artikelen .container .artikelen ul li a .artikel .titel {
  grid-area: titel;
}
body#Artikelen .container .artikelen ul li a .artikel .beschrijving {
  grid-area: beschrijving;
  padding-left: 1rem;
  padding-right: 1rem;
}
body#Artikelen .container .artikelen ul li a .artikel .prijs {
  grid-area: prijs;
}
body#Artikelen .container .artikelen ul li a .artikel .prijs p {
  display: inline;
  text-align: right;
  margin-right: 1rem;
  color: red;
  font-weight: bold;
  text-transform: lowercase;
  font-size: larger;
  text-align: center;
  text-decoration: none;
}
body#Artikelen .container .artikelen ul li a .artikel .prijs .ouldPrice {
  text-decoration: line-through;
  color: grey;
}
@media only screen and (max-width: 1250px) {
  body#Artikelen .container {
    display: block;
  }
}/*# sourceMappingURL=index.css.map */