@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin-top: 2rem;
}

header nav {
  background-color: #1D1D1F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 1.2rem;
}
header nav h2 {
  padding-left: 50px;
}
header nav h2 a {
  text-decoration: none;
  color: #4848fd;
  font-size: 2rem;
}
header nav h2 a span {
  color: #F5F5F7;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style-type: none;
  list-style: none;
  border-left: 1px solid #6B7D7D;
}
header nav ul li a {
  text-decoration: none;
  color: #F5F5F7;
}
header nav ul li a img {
  text-align: center;
  height: 20px;
}
header nav ul li:last-child {
  margin-right: 30px;
}
header nav ul .underline-hover-effect {
  padding-bottom: 0.25rem;
  position: relative;
}
header nav ul .underline-hover-effect::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #4848fd;
  transition: width 0.25s ease-out;
}
header nav ul .underline-hover-effect:hover::before {
  width: 100%;
}
header nav ul li {
  padding-left: 20px;
  padding-right: 20px;
}
header hr {
  margin-top: 0;
  color: #6B7D7D;
  height: 2px;
}

main {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1rem;
}
main button {
  cursor: pointer;
}
main article {
  display: grid;
  grid-template-areas: "productName productName productName productName" "productImage shop shop shop";
  gap: 2rem;
  border: 1px solid #6B7D7D;
  border-radius: 0.5rem;
  padding: 1rem;
}
main article h2 {
  grid-area: productName;
}
main article .images {
  grid-area: productImage;
}
main article .images .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
main article .images .slideshow-container .mySlides {
    display: none;
}
main article .images .slideshow-container .prev,
main article .images .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #6B7D7D;
}
main article .images .slideshow-container .next {
  right: 0;
  border-radius: 3px;
}
main article .images .slideshow-container .prev:hover,
main article .images .slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
main article .images .slideshow-container .numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
main article .images .slideshow-container .fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
main article .images .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #6B7D7D;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
main article .images .active,
main article .images .dot:hover {
  background-color: #717171;
}
main article .shop {
  grid-area: shop;
  display: grid;
  grid-template-rows: 25% 25% 25%;
  align-items: center;
}
main article .shop .price {
  display: inline;
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
}
main article .shop .stock {
  text-align: center;
  padding: 1rem;
  color: #009824;
  font-weight: bold;
  border-top: 1px solid #6B7D7D;
  border-bottom: 1px solid #6B7D7D;
}
main article .shop .stock.out {
  color: red;
}
main article .shop .winkelMand {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #6B7D7D;
  text-align: left;
  color: white;
  font-size: 1rem;
}
main article .shop .winkelMand img {
  width: 2rem;
  height: 2rem;
  text-align: right;
}
main .detailsDiscription {
  border: 1px solid #6B7D7D;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 1rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
main .detailsDiscription .buttons {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 1rem;
}
main .detailsDiscription .buttons #discription-button,
main .detailsDiscription .buttons #details-button {
  display: inline;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #F5F5F7;
}
main .detailsDiscription .buttons #discription-button.active,
main .detailsDiscription .buttons #details-button.active {
  border-bottom: 1px solid #6B7D7D;
}
main .detailsDiscription p,
main .detailsDiscription div.details {
  display: none;
}
main .detailsDiscription .active,
main .detailsDiscription .details.active {
  display: block;
}
main .detailsDiscription .active p,
main .detailsDiscription .details.active p {
  display: block;
}
main .detailsDiscription .details.active {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main .detailsDiscription .details.active p {
  display: inline;
}

footer {
  background-color: #F5F5F7;
  margin-bottom: -1.5rem;
  padding: 2rem;
  display: grid;
  grid-template-areas: "contact contact logo logo" "contact contact socialMedia socialMedia";
  justify-items: center;
  align-items: center;
  border-top: 2px solid #6B7D7D;
}
footer h2 {
  color: #4848fd;
  text-align: center;
  font-size: 2rem;
  grid-area: logo;
}
footer h2 span {
  color: black;
}
footer .contact {
  grid-area: contact;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid #4848fd;
}
footer .contact p {
  text-align: center;
}
footer .contact p a {
  color: #4848fd;
}
footer .socialMedia {
  grid-area: socialMedia;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 2rem;
  gap: 5rem;
}
footer .socialMedia a img {
  width: 2rem;
  height: 2rem;
  fill: #4848fd;
}/*# sourceMappingURL=product.css.map */